.profile-photo {
    position: absolute;
    top: 40px;      
    left: 40px;
    width: 180px;
    height: 180px;
}

.profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* keep your built-in circle effect */
    display: block;
}
